/* 篩選主題器膠囊 */
.selectTopic .ant-select-selector {
  padding: 7px 8px !important;
  border-width: 2px !important;
  border-radius: 99999px !important;
}
.selectTopic .ant-select-selection-search {
  display: none;
}
.selectTopic .ant-select-arrow,
.selectTopic .ant-select-clear {
  display: none;
}

/* 搜尋元件(輸入框) */
.search .ant-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search .ant-input-affix-wrapper input {
  padding-left: 5px;
}
.search .ant-input-affix-wrapper .ant-input-suffix {
  padding-right: 5px;
}

/* 搜尋元件(選單) */
.search .ant-select {
  display: flex;
  align-items: center;
}
.search .ant-select .ant-select-selector {
  border-width: 2px;
}
.search .ant-select .ant-select-arrow {
  color: #4a5364;
}

/* 分頁前後頁按鈕 */
.ant-pagination-disabled .ant-pagination-item-link {
  border: 1px solid #bcbacd !important;
  border-radius: 100% !important;
}
.ant-pagination-item-link {
  border: 1px solid #4A5364 !important;
  border-radius: 100% !important;
}
.ant-pagination-disabled .ant-pagination-item-link .anticon-left,
.ant-pagination-disabled .ant-pagination-item-link .anticon-right {
  color: #bcbacd !important;
}
.anticon-left,
.anticon-right {
  color: #4A5364 !important;
}

/* 分頁頁碼 */
.ant-pagination-item {
  border: none !important;
}
.ant-pagination-item a {
  color: #4A5364 !important;
}
.ant-pagination-item-active a {
  text-decoration: underline !important;
}

/* 會員中心 tab */
.order .ant-tabs .ant-tabs-tab {
  border-left: none;
  width: 25%;
  justify-content: center;
}
.order .ant-tabs .ant-tabs-nav-list {
  width: 100%;
}
.ant-radio-button-wrapper::before {
  width: 0px !important;
}

/* 登入頁Tab */
.loginForm .ant-tabs-nav-list {
  width: 100%;
}
.loginForm .ant-tabs-tab {
  margin: 0;
  width: 50%;
  justify-content: center;
}

/* 漢堡選單排列 */
.hamburger-menu .ant-modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 400px;
}
.ant-modal-content {
  padding: 72px 36px 44px 36px !important;
}

/* Footer 手機版字重 */
.footer-mobile .ant-collapse-header-text {
  font-weight: 700;
}

/* 調整 Tabs 與 Form 間距 */
.form .ant-tabs-nav {
  margin-bottom: 40px !important;
}
.counselorTab .ant-tabs-nav-list {
  width: 100%;
  justify-content: center;
}

/* 註冊頁Tab */
.signUpForm .ant-tabs-nav-list {
  width: 100% !important;
}
.signUpForm .ant-tabs-tab {
  margin: 0 !important;
  width: 50%;
  justify-content: center;
}
.counselorTab .ant-tabs-nav-list .ant-tabs-tab {
  width: 33.33333%;
  justify-content: center;
  margin-left: 0;
  border: none;
}
