/* 篩選主題器膠囊 */
.selectTopic .ant-select-selector {
  padding: 2px 5px !important;
}
.selectTopic .ant-select-selection-search {
  display: none;
}

/* 搜尋元件(輸入框) */
.search .ant-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search .ant-input-affix-wrapper {
  border: none;
}
.search .ant-input-affix-wrapper input {
  padding-left: 5px;
}
.search .ant-input-affix-wrapper .ant-input-suffix {
  padding-right: 5px;
}

/* 搜尋元件(選單) */
.search .ant-select {
  display: flex;
  align-items: center;
}

.search .ant-select .ant-select-arrow {
  color: #767494;
}
/* .search .ant-select .ant-select-selector .ant-select-selection-item {
  font-weight: bold;
  color: #767494;
} */

/* 分頁前後頁按鈕 */
.ant-pagination-disabled .ant-pagination-item-link {
  border: 1px solid #bcbacd !important;
  border-radius: 100% !important;
}
.ant-pagination-item-link {
  border: 1px solid #5d5a88 !important;
  border-radius: 100% !important;
}
.ant-pagination-disabled .ant-pagination-item-link .anticon-left,
.ant-pagination-disabled .ant-pagination-item-link .anticon-right {
  color: #bcbacd !important;
}
.anticon-left,
.anticon-right {
  color: #5d5a88 !important;
}

/* 分頁頁碼 */
.ant-pagination-item {
  border: none !important;
}
.ant-pagination-item a {
  color: #5d5a88 !important;
}
.ant-pagination-item-active a {
  text-decoration: underline !important;
}

/* Footer */
.footer-shadow {
  box-shadow: 0 -1px 5px 2px rgba(0, 0, 0, 0.06);
}

/* 會員中心 tab */
/* .userCenterTab .ant-tabs-nav-list .ant-tabs-tab {
padding: ;
} */

.userCenterTab .ant-tabs .ant-tabs-content-holder {
  border-left: none;
}

.userCenterTab .ant-tabs .ant-tabs-tab {
  border-left: 1px solid #d4d2e3;
}
.userCenterTab .ant-tabs .ant-tabs-ink-bar {
  left: 1px;
}

.order .ant-tabs .ant-tabs-tab {
  border-left: none;
  width: 25%;
  justify-content: center;
}
.order .ant-tabs .ant-tabs-nav-list {
  width: 100%;
}
.ant-radio-button-wrapper::before {
  width: 0px !important;
}

/* 忘記密碼、重設密碼底圖 */
.log-in-box-height-xl {
  height: calc(100vh - 225px);
}

.ant-radio-button-wrapper::before {
  width: 0px !important;
}

/* 登入註冊底圖 */
.log-in-box-height-xl {
  height: calc(100vh - 105px);
}

/* 登入頁Tab */
.loginForm .ant-tabs-nav-list {
  width: 100%;
}

.loginForm .ant-tabs-tab {
  margin: 0;
  width: 50%;
  justify-content: center;
}

/* 漢堡選單排列 */
.hamburger-menu .ant-modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Footer 手機版字重 */
.footer-mobile .ant-collapse-header-text {
  font-weight: 700;
}

/* 調整 Tabs 與 Form 間距 */
.form .ant-tabs-nav {
  margin-bottom: 40px !important;
}
.counselorTab .ant-tabs-nav-list {
  width: 100%;
  justify-content: center;
}

.counselorTab .ant-tabs-nav-list .ant-tabs-tab {
  width: 33.33333%;
  justify-content: center;
  margin-left: 0;
  border: none;
}
